<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/logo empresa.png" type="image/png">
    <title>Matsa - Indicador de cumplimiento</title>
</head>
<body>
      <nav>
        <header>
            <img src="/static/logo empresa.png" alt="Logo Empresa"/>
        </header>
        <h2>MATSA - Base de datos</h2>
        <ul>
            <li class="dropdown">
                <div class="dropdown-toggle">
                    <a href="/">Almacenamiento</a>
                </div>
                <div id="almacenamiento-menu" class="dropdown-menu">
                    <a href="/listas_lockers">Listas de Lockers</a>
                    <a href="/gambetas">Gambeta</a>
                    <a href="/carrito_de_herramientas">Carrito de herramientas</a>
                    <a href="/estanterias">Estanteria</a>
                    <a href="/bandas">Zona de bandas</a>
                    <a href="/costeos">Costeos de manufactura</a>
                <!--<a href="/papeleria">Papeleria</a>-->
                </div>
            </li>
            
            <li class="dropdown">
                <div class="dropdown-toggle">
                    <a href="/mantenimento">Mantenimiento</a>
                </div>
                <div></div>
            </li>
            <li class="dropdown">
                <div class="dropdown-toggle">
                    <a href="/piezas">Produccion</a>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-toggle">
                    <a href="/indicadores">Indicadores</a>
                </div>
            </li>
            <!--<li class="dropdown">
                <div class="dropdown-toggle">
                    <a href="/ventas">Ventas</a>
                </div>
                <div></div>
            </li>-->
        </ul>
    </nav>


  <main>
        <h2>Costeos de manufactura - Almacenamiento</h2>
        
        <section class="form-section">
            
                
                <div>
                    <label for="noParteClienteInput">Texto 1:</label>
                    <input type="text">
                </div>
                <div>
                <label for="materiaPrimaInput">Texto 2:</label>
                <input type="text">
                </div>
                <div>
                    <label for="diametroMaterialInput">Texto 3:</label>
                    <input type="text">
                </div>                
            
        </section>
        
        
  </main>
  <script>

  </script>

</body>
</html>